body {
    font-family: Arial, sans-serif;
    background-color: #F2F2F2;
    color: black;
    padding: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

b {
    font-size: 18px;
}
